.img-user-edit {
  position:absolute;
  bottom: 0;
  right: 25%;
}

.form-edit-user{
  width:75vw;
  margin: 0 auto;
}

.container-user-edit{

}

.btn-save-edit-user {
  background-color: #009473;
  color: white;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
}
