.blue{
  background-color: #81D6E3;
}

.img-user-edit {
  width:100%;
  margin: 20px auto;

}

.form-edit-user{
  width: 75vw;
  margin: 0 auto;
  padding-top: 20px;
  font-family: 'Noto',sans-serif !important;
  font-weight: bold !important;
}

.container-user-edit{
  width: 390px;
  overflow: hidden;
  height: 92vh;
}


.btn-edit-user{
  background-color: #E38481;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  width:75vw;
  margin: 30px auto;
  height: 40px;


  .text-save-edit-user{
    text-decoration: none;
    color: white;
    font-weight: 300px;
    font-size: 18px;
    font-family: 'Noto',sans-serif !important;
  }
}

.form-control {
  font-family: 'Noto',sans-serif !important;
}
