.blue{
  background-color: #81D6E3;
}

.profile-picture-user-show{
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: 100px;
  display: block;
  margin: 10px auto;
  border: 8px solid white;
}

.container-user-show {
  width: 390px;
  overflow: hidden;
  height: 92vh;

  h1{
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 50px;
    font-family: 'Noto', sans-serif;
    font-weight: bold;
  }
}



.camera-user-show{
  i{
    color: black;
    font-size: 10px;
  }
}


.profile-card-user-show{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.profile-card-info-user-show{
  background-color: white;
  border-radius: 3px;
  width: 75vw;
  margin: 10px;
  border: 1px solid black;
  font-family: 'Noto',sans-serif !important;


  .label{
    margin: 2px 8px;
  }

  p{
    font-size: 18px;
    margin: 2px 8px;
  ;

  }
}

.bottom-picture-user-show{
  margin: 20px;
  width: 100%;
}

.file-upload-user-show {
  display: none;
}

.camera-user-show {
  position: absolute;
  top: 220px;
  right: 145px;
  color: #666666;

  i{
    font-size: larger;
  }
}

.btn-user-show{
  background-color: #E38481;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  width:75vw;
  margin: 8px auto;

  .btn-text-user-show{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Noto',sans-serif !important ;
  }
}

.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
