<div class="navbar navbar-container">
  <%= link_to :back, class: "navbar-back" do %>
    <i class="fa-solid fa-angle-left"></i>
  <% end %>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dzb3rykjc/image/upload/v1678725083/WalkByMe/logo_walkbyme_ugcisu.png" %>
  <% end %>
  <div class="navbar-ghost"> </div>
</div>
