<div class="navbar navbar-container">
  <div class="navbar-ghost"> </div>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dzb3rykjc/image/upload/v1678965278/WalkByMe/Background/Group_39_r7qovv.png" %>
  <% end %>
  <% if user_signed_in? %>
  <%= link_to user_path(current_user), class: "navbar-avatar" do %>
    <%= image_tag "https://res.cloudinary.com/dzb3rykjc/image/upload/v1678704501/Photo_on_01-03-23_at_15.34_zfm3yc.jpg", class: "avatar" %>
  <% end %>
  <% end %>
</div>
