<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active slide celebrate">
      <h2><strong>Afraid to walk home at night?</strong></h2>
      <h3><strong>WalkByMe</strong><br>has your back!</h3>
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678874354/WalkByMe/Background/celebrate_girl_c1gv7e.png" class="d-block w-100" alt="Celebrating girl">
    </div>
    <div class="carousel-item slide sign-in">
      <h2><strong>Create an account<br>or Log In</strong></h2>
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678881754/WalkByMe/Background/Signup_1_ceookn.png" class="d-block w-100" alt="Create an account image">
    </div>
    <div class="carousel-item slide people-linked">
      <h2><strong>Define your favourite emmergency contacts</strong></h2>
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678878137/WalkByMe/Background/Build_a_community_yrnkvo.png" class="d-block w-100" alt="People linked">
      <h3><strong>and addresses...</strong></h3>
    </div>
    <div class="carousel-item slide address">
      <h2><strong>Choose your destination</strong></h2>
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678875810/WalkByMe/Background/Share_location_hemenc.png" class="d-block" alt="Address">
      <%# <h3>and let's go!</h3> %>
    </div>
    <div class="carousel-item slide stranger">
      <h2><strong>Stranger/Danger!</strong></h3>
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678890554/WalkByMe/Background/danger_5_sgdnnf.png" class="d-block w-100" alt="Danger">
      <h3>Press <strong>SOS</strong><br>and we will inform your contact</h3>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
