.navbar-container {
  background: white;
  justify-content: space-between;
  flex-grow: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}



.navbar-avatar{
  width: 33%;
  margin: 0 auto;
  text-align: right;

  img{
  height: 35px;
  width: 35px;
  object-fit: cover;
  margin-right: 10%;
  }
}

.navbar-brand{
  width: 33%;
  margin: 0 auto;
  text-align: center;

  img{
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


.navbar-back{
  width: 33%;
  margin: 0 auto;
  text-align: left;


  i{
    color: grey;
    font-size: 20px;
    margin-left: 10%;
  }
}

.navbar-ghost{
  width: 33%
}
