.blue{
  background-color: #81D6E3;
}

.img-location-edit {
  position:absolute;
  bottom: 0;
  right: 25%;
}

.form-location-edit{
  width:75vw;
  margin: 0 auto;
  padding-top: 20px;

}

.container-location-edit{
  width: 390px;
  height: 844px;
}

.btn-save-location-edit {
  background-color: #E38481;
  color: white;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
}
