  <div data-controller="direction" class="map" data-direction-id-value="<%= @checkin.id %>">
     <%= button_to "I am home", end_trip_checkin_path(@checkin), method: :patch, class: "end-link", data: {direction_target: "link"} %>
  </div>
  <%= button_to "SOS", danger_text_path, method: :post, class: "btn btn-danger" %>
