<div data-controller="design" data-design-target = "search"></div>
<div data-controller="direction" class="map" data-direction-id-value="<%= @checkin.id %>" data-direction-user-value="<%= @checkin.user %>">
  <%= button_to "End Trip", end_trip_checkin_path(@checkin), method: :patch, class: "end-link", data: {direction_target: "link"} %>
  <p data-direction-target="eta"></p>
  <p class="timer" data-direction-target="timer"></p>
</div>
