<div class="container">
  <div class="rounded">
    <div class="row justify-content-center">
      <% @locations.each do |location| %>
        <% if location.user == current_user %>
          <div class="col-sm-6 col-md-4 mb-3">
            <div class="card rounded">
              <div class="card-body d-flex align-items-center">
                <div class="icon-container mr-3"><i class="fas <%= location.icon %>"></i></div>
                <h2 class="card-title mb-0"><%= link_to location.name, user_location_path(location.user, location), class: "card-link" %></h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <%= link_to "Add new location", new_user_location_path, class: "btn btn-success btn-block rounded" %>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }

  .card:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .icon-container {
    font-size: 24px;
    color: #666;
  }

  .icon-container i {
    width: 24px;
    text-align: center;
  }

  .card-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  .btn-block {
    display: block;
  }
</style>
